@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    line-height: normal;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #C2D7C7F6;
    border-radius: 5px;
}

/*input:-webkit-autofill, textarea:-webkit-autofill {*/
/*    transition: color 1s ease-in-out 0s, background-color 1s ease-in-out 0s;*/
/*}*/

/* Fonts */
@font-face {
    font-family: 'Times New Roman';
    /*src: url("./assets/fonts/times.ttf"), url("./assets/fonts/timesbd.ttf"), url("./assets/fonts/timesbi.ttf"), url("./assets/fonts/timesi.ttf");*/
    src: url("./assets/fonts/times.ttf");
    font-weight: normal;
}

@font-face {
    /*font-family: 'Times New Roman';*/
    /*src: url("./assets/fonts/times.ttf"), url("./assets/fonts/timesbd.ttf"), url("./assets/fonts/timesbi.ttf"), url("./assets/fonts/timesi.ttf");*/
    src: url("./assets/fonts/timesbd.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Tw Cen MT';
    src: url("./assets/fonts/TCM.TTF");
    font-weight: normal;
}

@font-face {
    font-family: 'Tw Cen MT';
    src: url("./assets/fonts/TCB.TTF");
    font-weight: bold;
}

@font-face {
    font-family: 'Tw Cen MT Std';
    src: url("./assets/fonts/TwCenMTStd.otf"), url("./assets/fonts/TwCenMTStd-Bold.otf");
}

/* 渐变：背景 1 */
.gradient-bg1 {
    background: linear-gradient(90deg, #121518 1.56%, #2D3832 49.48%, #2F3B36 100%);
}

/* 渐变：背景 2 */
.gradient-bg2 {
    background: linear-gradient(90deg, #27302D 0%, #42534B 100%);
}

/* 渐变：描边 1 */
.gradient-border1 {
    background: linear-gradient(90deg, #BE9D66 -4.08%, #E8D2A3 100%);
}

/* 渐变：块背景 1 */
.gradient-block1 {
    background: linear-gradient(180deg, #3B5649 0%, #32473D 100%);;
}

/* 渐变文字 */
.gradient-text1 {
    background: linear-gradient(90deg, #BE9D66 -4.08%, #E8D2A3 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.gradient-text2 {
    background: linear-gradient(90deg, #AF8160 0%, #D0B588 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

/* 渐变边框 */
.gradient-border-gold {
    position: relative;
    background-image: linear-gradient(90deg, #BE9D66 -4.08%, #E8D2A3 100%);
}

/*.gradient-border-gold::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: -1px;*/
/*    left: -1px;*/
/*    bottom: -1px;*/
/*    right: -1px;*/
/*    background-image: linear-gradient(90deg, #BE9D66 -4.08%, #E8D2A3 100%);*/
/*    z-index: -1;*/
/*}*/

/* 由于 tailwinds 默认不支持 text-shadow，这里选择手动扩展 */
.text-shadow-block {
    text-shadow: -4px 8px 10px #030C0880;
}

.input-inner-shadow {
    box-shadow: inset -1px 1px 4px rgba(0, 0, 0, 0.25);
}

textarea, input {
    color: #99AC9B;
}

textarea::-webkit-scrollbar {
    display: none;
}
